.DS_Store
/.*
!.dotfile-links
!.dotfile-packages
!.editorconfig
!.github
!.gitignore
dotfiles.bash
/backups/
/dist/
/node_modules/
/vendor/
/share/man/man1/*/
/bin/_*
/bin/.*
/packages/
/package-lock.json
/composer.lock
/share/man/*/
