set autoindent
set boldtext
set constantshow
set fill 0
set keycolor blue,normal
set functioncolor normal,normal
set smarthome
set statuscolor magenta,normal
set stripecolor normal,magenta
set tabsize 4
set tabstospaces
set titlecolor magenta,normal
set nowrap
set quickblank
set mouse
set nohelp

include ~/.nanorc.d/git.nanorc
